




  




    <!-- <div class="col-md-11 h-50 mt-md-0 mt-8">
      <div class="row col-md-90 bg-gray d-flex h-5 light-brown-bg">
        <div class="col-md-3">
          <div class="content-container-eight">
            <div class="content-item-eight">
              <p><span>Policy Number</span> <strong class="purple-text">xxxxxxxxxxxxxxxx</strong></p>
            </div>
            <div class="content-item-eight">
              <p><span>Proposal Category</span> <strong class="purple-text">Individual</strong></p>
            </div>
            <div class="content-item-eight">
              <p><span>Proposal Date</span> <strong class="purple-text">00-00-0000</strong></p>
            </div>
            <div class="content-item-eight">
              <p><span>Proposal Branch</span> <strong class="purple-text">xxxxxxxx</strong></p>
            </div>
            <div class="content-item-eight">
              <p><span>Channel</span> <strong class="purple-text">Online</strong></p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="text-container2">
            <p><strong>Primary</strong></p>
            <p>Full name of the client</p>
            <p><img src="../../assets/mail.png" alt="Email Icon" class="icon me-2">Email Id@gmail.com</p>
            <p><img src="../../assets/phone.png" alt="Phone Icon" class="icon me-2">+91 9009009900</p>
            <p><img src="../../assets/DOB.png" alt="DOB Icon" class="icon me-2">DD-MM-YYYY</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="text-container3">
            <p><strong>Plan Details</strong></p>
            <p>Plan ID <span class="purple-text"><strong>00</strong></span></p>
            <p>Plan Name <span class="purple-text"><strong>xxxxxx xxxxxxxxxxxx</strong></span></p>
            <p>Sum Assured <span class="purple-text"><strong>xxxxxx xxxxxxxxxxxx</strong></span></p>
            <p>Premium Frequency <span class="purple-text"><strong>xxxxxx xxxxxxxxxxxx</strong></span></p>
          </div>
        </div>
        <div class="col-md-3 d-flex">
          <mat-card class="small-card mx-2 face-card">
            <mat-card-content>
              <img src="../../assets/circle.png" alt="Happy Face" class="happy-face">
              <hr class="line-divider">
              <p class="credit-score-text text-center text-white">Credit Score</p>
            </mat-card-content>
          </mat-card>
          <mat-card class="small-card mx-2 credit-card">
            <mat-card-content>
              <img src="../../assets/smile.png" alt="Happy Face" class="happy-face">
              <hr class="line-divider">
              <p class="stp-result-text text-center text-white">STP Result</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="row col-md-12 h-auto d-flex mt-3">
        <div class="col-md-12 d-flex">
          <div class="col-md-6 mx-2">
            <mat-card class="Top card" style="background-color: lightblue;">
              <mat-card-title class="purple-title">
                Policy Owner
                <img src="assets/eyeicon.png" class="eye-icon" alt="Eye Icon">
                <img src="assets/editicon.png" class="edit-icon" alt="Edit Icon">
              </mat-card-title>
              <mat-card-content>
                <div class="content-container">
                  <div class="text-container">
                    <p>Client ID: <span class="value">&nbsp;&nbsp;<b>000000000000</b></span></p>
                    <p>First Name: <span class="value">&nbsp;&nbsp;<strong>Text</strong></span></p>
                    <p>Middle Name: <span class="value">&nbsp;&nbsp;<strong>Text</strong></span></p>
                    <p>Last Name: <span class="value">&nbsp;&nbsp;<strong>Text Line</strong></span></p>
                    <p>Gender: <span class="value">&nbsp;&nbsp;<strong>xxxxxxxxxxxxxx</strong></span></p>
                    <p>DOB: <span class="value">&nbsp;&nbsp;<strong>03-01-2021</strong></span></p>
                    <p>PAN: <span class="value">&nbsp;&nbsp;<strong>xxxxxx xxxxxxxxxxx</strong></span></p>
                    <p>Permanent Address: <span class="value">&nbsp;&nbsp;<strong>Text Line 1 xxxxxxxxxxxxx</strong></span></p>
                    <p>Communication Address: <span class="value">&nbsp;&nbsp;<strong>Text Line 1 xxxxxxxxxxxx</strong></span></p>
                    <p>Mobile: <span class="value">&nbsp;&nbsp;<strong>Text Line</strong></span></p>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-md-6 mx-2">
            <mat-card class="Top card" style="background-color:lightcoral;">
              <mat-card-title class="purple-title">
                Life Assured
                <img src="assets/eyeicon.png" class="eye-icon" alt="Eye Icon">
                <img src="assets/editicon.png" class="edit-icon" alt="Edit Icon">
              </mat-card-title>
              <mat-card-content>
                <div class="content-container">
                  <div class="text-container">
                    <p>Client ID: <span class="value"><strong>000000000000</strong></span></p>
                    <p>Salutation: <span class="value"><strong>Text</strong></span></p>
                    <p>First Name: <span class="value"><strong>Text</strong></span></p>
                    <p>Middle Name: <span class="value"><strong>Text</strong></span></p>
                    <p>Last Name: <span class="value"><strong>Text Line 1</strong></span></p>
                    <p>Gender: <span class="value"><strong>xxxxxxxxxxxxxx</strong></span></p>
                    <p>DOB: <span class="value"><strong>03-01-2021</strong></span></p>
                    <p>Permanent Address: <span class="value">Communication Address</span></p>
                    <p><strong>Text Line 1 xxxxxxxxxxx    Text Line 1 xxxxxxxxxxxx</strong></p>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-start mt-3">
        <div class="col-md-6 h-50 mx-2 mt-0">
          <mat-card style="background-color:dark whitesmoke;">
            <p><span>Name</span> <strong>Name Last Name</strong></p>
            <p><span>DOB</span> <strong>DD/MM/YYYY</strong></p>
            <p><span>Gender</span><strong> Male</strong></p>
            <p><span>Relationship with proposer</span> <strong>Male</strong></p>
            <img src="assets/eyeicon.png" class="eye-icon2" alt="Eye Icon">
            <img src="assets/editicon.png" class="edit-icon2" alt="Edit Icon">
          </mat-card>
        </div>
        <div class="col-md-6 h-50 mx-2 mt-0">
          <mat-card style="background-color:dark whitesmoke;">
            <p ><span>Name</span> <strong>Name Last Name</strong></p>
            <p ><span>DOB</span> <strong>DD/MM/YYYY</strong></p>
            <p ><span>Gender</span><strong> Male</strong></p>
            <p ><span>Relationship with proposer</span> <strong>Male</strong></p>
            <hr style="margin: 5px 0;">
            <p ><span>Appointee Name</span> <strong>Text Line 1</strong></p>
            <img src="assets/eyeicon.png" class="eye-icon3" alt="Eye Icon">
            <img src="assets/editicon.png" class="edit-icon3" alt="Edit Icon">
          </mat-card>
        </div>
      </div>
    </div> -->

    


