.icon {
  width: 1rem; 
  height: 1rem; 
}
.face-card {
  border-radius: 10px; 
  background-color: rgb(79, 3, 40); 
}
.credit-card { 
  border-radius: 10px; 
  background-color: rgb(79, 3, 40); 
}
mat-card{
  background-color: #f4f4f4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.eye-icon {
  width: 28px; 
  height: 18px; 
  margin-right: 5px; /* Adjust the right margin to shift the icon to the right */
}

.edit-icon {
  width: 24px; /* Adjust the width as needed */
  height: 23px; /* Adjust the height as needed */
  margin-left: 5px; /* Adjust the left margin to shift the icon to the left */
}
.light-brown-bg {
  background-color:lightgray; /* Light brown color */
}
.eye-icon2{
  width: 28px; 
  height: 18px;
  margin-right: 20px;
}
.edit-icon2{
  width: 28px; 
  height: 23px;
  margin-right: 20px;
  
}
.eye-icon3{
  width: 28px; 
  height: 23px;
  margin-right: 20px;
  margin-bottom: -20px;
}
.edit-icon3{
  width: 28px; 
  height: 23px;
  margin-left: 45px;

}



.card{
  background-color: rgba(128, 128, 128, 0.251);
  border: 0;
  border-radius: 0;
}

