<!-- <div class="cards-container">


  <mat-card class="vertical-card">

    <div class="logo">
      <img src="assets/sbi.png" class="sbi-logo">
    </div>

    <div class="icons">
      <img src="assets/customer.png" class="customer-icon">
    </div>


    <div class="blue-container">
      <div class="dropdown">
        <div class="dropdown-header" (click)="toggleDropdown()">
          Proposal Data
        </div>
        <div class="dropdown-content" [ngClass]="{ 'show': dropdownOpen }">
          <div class="dropdown-item">Client Roles</div>
          <div class="dropdown-item">Proposal Details</div>
          <div class="dropdown-item">Plan Details</div>
          <div class="dropdown-item">Medical Details</div>
          <div class="dropdown-item">Other Insurance</div>
          <div class="dropdown-item">Bank Details</div>
        </div>
      </div>
    </div>
  </mat-card>



  <mat-card class="details-card">
    <div class="label-value-pair">
      <div class="label">Policy Number</div>
      <div class="value">XXXXXXXXXXXXXX</div>
    </div>
    <div class="label-value-pair">
      <div class="label">Proposal Category</div>
      <div class="value">Individual</div>
    </div>
    <div class="label-value-pair">
      <div class="label">Proposal Date</div>
      <div class="value">00-00-0000</div>
    </div>
    <div class="label-value-pair">
      <div class="label">Proposal Branch</div>
      <div class="value">XXXXXXXXXXX</div>
    </div>
    <div class="label-value-pair">
      <div class="label">Channel</div>
      <div class="value">Online</div>
    </div>

    <div class="image-box">
      <img src="assets/image1.jpg" alt="" class="image">
    </div>
    <div class="image-box2">
      <img src="" alt="" class="image">
    </div>

    <div class="primary-details">
      <h1>Primary</h1>
      <div class="primary-details-label">Full name of the client</div>
      <div class="primary-details-label">EmailId@gmail.com</div>
      <div class="primary-details-label">+91 9090909000</div>
      <div class="primary-details-label">DD-MM-YYYY</div>
    </div>

    <div class="plan-details">
      <h1>Plan Details</h1>
      <div class="plan-details-label-value2-pair">
        <div class="plan-details-label">Plan Id</div>
        <div class="value2">00-00-0000</div>
      </div>
      <div class="plan-details-label-value2-pair">
        <div class="plan-details-label">Plan Name</div>
        <div class="value2">XXXXXXXXXXXX</div>
      </div>
      <div class="plan-details-label-value2-pair">
        <div class="plan-details-label">Sum Assured</div>
        <div class="value2">XXXXXXX XXXXXXX</div>
      </div>
      <div class="plan-details-label-value2-pair">
        <div class="plan-details-label">Premium Frequency</div>
        <div class="value2">XXXXX XXXXX</div>
      </div>
    </div>

  
      <div class="small-card-1"></div>
        <div class="small-card-2"></div>
  

  </mat-card>




  <footer class="footer">
    <div class="footer-content">
      <span>2023 SBI Life Insurance Company Limited. All rights reserved.</span>
    </div>
  </footer>

</div> -->


<div class="body">

  
  <div class="cards-container">
    <!-- Card 1: sidemenucard -->
    <mat-card class="vertical-card">
      <!-- Logo -->
      <div class="logo">
      
        <img src="assets/sbi.png" alt="Logo">
      </div>
  
      <!-- Customer details -->
      <div class="customer-details">
        <div class="transparent-box">
          <!-- Customer icon -->
          <img src="assets/customer.png" class="customer-icon">
          <!-- Customer name -->
          <h2></h2>
        </div>
  
        <!-- Blue container -->
        <div class="blue-container">
          <div class="dropdown" (click)="toggleDropdown()">
            <div class="dropdown-header">
              Proposal Data
            
            </div>
            <div class="dropdown-content" [ngClass]="{ 'show': dropdownOpen }">
              <div class="dropdown-item">Client Roles</div>
              <div class="dropdown-item">Proposal Details</div>
              <div class="dropdown-item">Plan Details</div>
              <div class="dropdown-item">Medical Details</div>
              <div class="dropdown-item">Other Insurance</div>
              <div class="dropdown-item">Bank Details</div>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  
    <!-- Card 2: Details Card -->
    <mat-card class="details-card">
      <div class="label-value-pair">
        <div class="label">Policy Number</div>
        <div class="value">XXXXXXXXXXXXXX</div>
      </div>
      <div class="label-value-pair">
        <div class="label">Proposal Category</div>
        <div class="value">Individual</div>
      </div>
      <div class="label-value-pair">
        <div class="label">Proposal Date</div>
        <div class="value">00-00-0000</div>
      </div>
      <div class="label-value-pair">
        <div class="label">Proposal Branch</div>
        <div class="value">XXXXXXXXXXX</div>
      </div>
      <div class="label-value-pair">
        <div class="label">Channel</div>
        <div class="value">Online</div>
      </div>
  
      <div class="image-box">
        <img src="assets/image1.jpg" alt="" class="image">
      </div>
      <div class="image-box2">
        <img src="" alt="" class="image">
      </div>
  
      <div class="primary-details">
        <h1>Primary</h1>
        <div class="primary-details-label">Full name of the client</div>
        <div class="primary-details-label">EmailId@gmail.com</div>
        <div class="primary-details-label">+91 9090909000</div>
        <div class="primary-details-label">DD-MM-YYYY</div>
      </div>      
  
      <div class="plan-details">
        <h1>Plan Details</h1>
        <div class="plan-details-label-value2-pair">
          <div class="plan-details-label">Plan Id</div>
          <div class="value2">00-00-0000</div>
        </div>
        <div class="plan-details-label-value2-pair">
        <div class="plan-details-label">Plan Name</div>
        <div class="value2">XXXXXXXXXXXX</div>
        </div>
        <div class="plan-details-label-value2-pair">
        <div class="plan-details-label">Sum Assured</div>
        <div class="value2">XXXXXXX XXXXXXX</div>
        </div>
        <div class="plan-details-label-value2-pair">
        <div class="plan-details-label">Premium Frequency</div>
        <div class="value2">XXXXX XXXXX</div>
        </div>
      </div>
  
      <div class="small-card small-card-1">
  
       
  
      </div>
      
      <div class="small-card small-card-2">
        <!-- <div class="smile">
          <img src="assets/smile.png" alt="Smile Icon" class="smile-icon">
          <img src="assets/line.png" alt="line Icon" class="line-icon">
          <span class="small-card-2-label">STP Results</span>
        </div> -->
      </div>
  
    </mat-card>
  
  
    <mat-card class="card-3-policy-details">
      <div class="policy-details">
        <h1>Policy Details</h1>
        <div class="policy-details-label-value3-pair">
          <div class="policy-details-label">Proposal Category</div>
          <div class="value3">Individual</div>
        </div>
        <div class="policy-details-label-value3-pair">
        <div class="policy-details-label">Proposal Date</div>
        <div class="value3">00-00-0000</div>
        </div>
        <div class="policy-details-label-value3-pair">
        <div class="policy-details-label">Date of Inward</div>
        <div class="value3">00-00-0000</div>
        </div>
        <div class="policy-details-label-value3-pair">
        <div class="policy-details-label">Product Name</div>
        <div class="value3">XXXXX XXXXX</div>
        </div>
        <div class="policy-details-label-value3-pair">
          <div class="policy-details-label">Product Name</div>
          <div class="value3">XXXXX XXXXX</div>
          </div>
          <img src="assets/eyeicon.png" class="eyeicon">
          <img src="assets/editicon.png" class="editicon">
  
      </div>
  
    
      <div class="score-container">
        <!-- First Score Meter -->
        <div class="label-card">
          <h3>Score</h3>
        </div>
        <div class="circle-card">
          <mat-progress-spinner mode="determinate" [value]="completionPercentage1" diameter="30" strokeWidth="3" color="primary">
          </mat-progress-spinner>
        </div>
      
        <!-- Second Score Meter -->
        <div class="label-card">
          <h3>Score</h3>
        </div>
        <div class="circle-card">
          <mat-progress-spinner mode="determinate" [value]="completionPercentage2" diameter="30" strokeWidth="3" color="accent">
          </mat-progress-spinner>
        </div>
      </div>
  
      <div class="policy-details-label1-value4-pair">
        <div class="policy-details-label1">Product Name</div>
        <div class="value4">XXXXX XXXXX</div>
      </div>
      <div class="policy-details-label1-value4-pair">
        <div class="policy-details-label1">Product Name</div>
        <div class="value4">XXXXX XXXXX</div>
      </div>
  
  
      <table class="mat-table">
        <tr class="mat-header-row">
          <th class="mat-header-cell">Cover Name</th>
          <th class="mat-header-cell">PT</th>
          <th class="mat-header-cell">PPT</th>
          <th class="mat-header-cell">Sum Assured</th>
          <th class="mat-header-cell">Premium</th>
        </tr>
        <tr class="mat-row">
          <td class="mat-cell">XXXXXXX</td>
          <td class="mat-cell">00</td>
          <td class="mat-cell">00</td>
          <td class="mat-cell">000000</td>
          <td class="mat-cell">000000</td>
        </tr>
        <tr class="mat-row">
          <td class="mat-cell">XXXXXXX</td>
          <td class="mat-cell">00</td>
          <td class="mat-cell">00</td>
          <td class="mat-cell">000000</td>
          <td class="mat-cell">000000</td>
        </tr>
        <tr class="mat-row">
          <td class="mat-cell">XXXXXXX</td>
          <td class="mat-cell">00</td>
          <td class="mat-cell">00</td>
          <td class="mat-cell">000000</td>
          <td class="mat-cell">000000</td>
        </tr>
        
      </table>
      
  
    </mat-card>
      
  
  
  
    <mat-card class="card-4-other-insurance">
      <div class="other-insurance">
        <h1>Other Insurance</h1>
      </div>
  
      <img src="assets/eyeicon.png" class="eyeicon2">
      <img src="assets/editicon.png" class="editicon2">
     
    </mat-card>
  
    <mat-card class="card-5-blank-card">
  
    </mat-card>
  
    <!-- <div class="image-card">
      <mat-card>
        <mat-card-content>
         
          <img src="assets/form.jpg" alt="" class="uploaded-image">
          <img src="assets/rotate right.png" alt="" class="rotate-right">
          <img src="assets/rotate left.png" alt="" class="rotate-left">
          <img src="assets/zoom-in.png" alt="" class="zoom-in">
          <img src="assets/zoom-out.png" alt="" class="zoom-out">
          <img src="assets/next.png" alt="" class="next">
          <img src="assets/previous.png" alt="" class="previous">
           
        </mat-card-content>
      </mat-card>
    </div> -->
  </div>
  
  <div class="rerun-rules">
    <img src="assets/rules.png" alt="Rerun Rules Icon" class="rerun-icon">
    <span class="rerun-label">Rerun Rules</span>
  </div>
  
  <div class="cancel">
    <img src="assets/cancel.png" alt="Cancel Icon" class="cancel-icon">
    <span class="cancel-label">Cancel</span>
  </div>
  
  <div class="submit">
    <img src="assets/submit.png" alt="Submit Icon" class="submit-icon">
    <span class="submit-label">Submit</span>
  </div> 
  
  
  
  
  
  <!-- <footer class="footer">
    <div class="footer-content">
      <span>2023 SBI Life Insurance Company Limited. All rights reserved.</span>
    </div>
  </footer> -->
  
  
  </div>

  <div class="container">
    <div class="row">
      <div class="col" style="background-color: aqua;">1</div>
      <div class="col" style="background-color: rgb(106, 0, 255);">2</div>
      <div class="col" style="background-color: rgb(255, 0, 0);">3</div>
    </div>
  </div>
  